body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100%;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff004d;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav ul li a:hover {
    background-color: #ff1a66;
    color: black;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
a {
    display: column;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}
button {
    padding: 10px 20px;
    background-color: #ff004d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ff1a66;
    color: black;
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: box;
        margin-top: 2px;
        margin-right: 1px;
    }
    nav ul li {
        margin-right: 0;
        margin-top: 2px;
    }

    a{
        display: block;
    }
}

