
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datenbank-Backup</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel=stylesheet href="/static/styles.css">
</head>
<body>
    <header>
        <h1 class="topic">Datenbank-Backup</h1>
        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="/add_buy">Kauf hinzufügen</a></li>
                <li><a href="/watch">Übersicht</a></li>
                <li><a href="#" onclick="history.back();">Zurück</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
                <form method="POST">
                    <label for="backup_directory">Backup-Verzeichnis:</label>
                    <label for="att_backupdir"> {{ backup_directory }} </label>
                    <br>
                    <br>

                    <label for="backup_filename">Backup-Verzeichnis ändern:</label>
                    <input type="text" id="backup_directory" name="backup_directory" value="">

                    <button class="bt" type="submit">Backup-Verzeichnis ändern</button>
                    <br>
                    <br>
                    <label for="backup_filename">Backup-Dateiname:</label>
                    <label for="att_backupfile"> {{ backup_filename }} </label>
                    <br>
                    <br>
                    <button  class="bt" type="submit">Backup erstellen</button>

                    
                </form>
        </div>
    </main>
</body>
</html>
