<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Kaufstatistik</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body onload="reloadFunction()">
    <header>
        <h1>Kaufstatistik</h1>
        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="/add_buy">Kauf hinzufügen</a></li>
                <li><a href="/watch">Übersicht</a></li>
                <li><a href="#" onclick="history.back();">Zurück</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2 class="topic">Kaufstatistik</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for col in data[0].keys() %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for value in row.values() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
