<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <header>
        <h1 class="topic">Admin Login</h1>
    </header>
    <form method="post">
        <label for="password">Passwort:</label>
        <input type="password" id="passworddb" name="passworddb" required>
        <button class="bt" type="submit">Einloggen</button>
    </form>
</body>
</html>
