<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einstellungen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h2>Einstellungen</h2>
        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="/add_buy">Kauf hinzufügen</a></li>
                <li><a href="/watch">Übersicht</a></li>
                <li><a href="#" onclick="history.back();">Zurück</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container mt-5">
            <form id="date_form" action="/settings" method="POST">
                <div class="form-group">
                    <label for="first_day">Erster Tag:</label>
                    <input type="date" class="form-control" id="first_day" name="first_day" value="{{ first_day }}">
                </div>
                <div class="form-group">
                    <label for="last_day">Letzter Tag:</label>
                    <input type="date" class="form-control" id="last_day" name="last_day" value="{{ last_day }}">
                </div>
                <input type="hidden" id="formatted_first_day" name="formatted_first_day">
                <input type="hidden" id="formatted_last_day" name="formatted_last_day">
                <button type="submit">Submit</button>
            </form>
            <hr>
            <div>
                <h4>Aktuelle Einstellungen</h4>
                <p>Startdatum: {{ first_day }}</p>
                <p>Lagerdauer: {{ lager_dauer }} Tage</p>
                <p>Enddatum: {{ last_day }}</p>
                <p>Heute: {{ today }}</p>
            </div>
        </div>
    </main>
    <script>
        document.getElementById('date_form').addEventListener('submit', function(event) {
            var firstDayInput = document.getElementById('first_day').value;
            var lastDayInput = document.getElementById('last_day').value;
        
            if (firstDayInput) {
                var firstDayParts = firstDayInput.split('-');
                var formattedFirstDay = firstDayParts[2] + '-' + firstDayParts[1] + '-' + firstDayParts[0];
                document.getElementById('formatted_first_day').value = formattedFirstDay;
            }
        
            if (lastDayInput) {
                var lastDayParts = lastDayInput.split('-');
                var formattedLastDay = lastDayParts[2] + '-' + lastDayParts[1] + '-' + lastDayParts[0];
                document.getElementById('formatted_last_day').value = formattedLastDay;
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
